* {
    background-color: rgb(255, 255, 255);
    overflow: scroll;
}

/* .root{
    width: 100vw;
    height: 200vh;
} */

/* svg {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
} */

.chart-container{
    display: inline-block;
    width: 100vw;
    height: 200vh;
}

#chart{
    position: fixed;
    width: 100vw;
    height: 150vh;
    overflow: scroll;
}

/* .neuron {

} */

.path{
    z-index: -1;
}

.neuron{
    z-index: 99 !important;
}